<body class = "popup-body">
  <% @results.each do |result| %>
    <div class="gallery">
      <a target="_blank">
        <%= service_dashboard_img(result) %>
      </a>
      <div class="desc"><%= result.title %></div>
      <div class="desc">
        <%= link_to 'Details', get_service_service_path(result),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'btn btn-primary btn-lg'}  %>
      </div>
      <% if current_user.present? && current_user.role_id == 1 %>      
        <div class="desc">
          <%= button_to 'Remove', service_path(service), class: 'add-to-cart-btn delete', method: :delete, data: {confirm: 'Are you sure?'} %>
        </div>
      <% end %>
      <div class="desc"><%= link_to "Add Cart",'javascript:;',id: "service_#{result.id}", class: "add-service-id" %></div>
    </div>
  <% end %>
</body>
<%= render 'services/service_detail_popup_model', services: @services %>

<script type="text/javascript">
  $(document).ready(function(){
    $(".add-service-id").on('click', function(){
      var service_dashboard_id = $(this).attr('id')
      var service_dashboard_id = service_dashboard_id.split('service_')[1]
      $.ajax({
        url: "<%= carts_path %>",
        type: "POST",
        data: {
          service_dashboard_id: service_dashboard_id
        }
      });
    });
  });
</script>