<!------ Include the above in your HEAD tag ---------->
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<!DOCTYPE html>
<html class = "devise-login">
<head>
  <title>Login Page</title>   
</head>
<body class = "devise-login">
<div class="container">
  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="card-header">
        <h3>Sign In</h3>
        <div class="d-flex justify-content-end social_icon">
          <span><i class="fab fa-facebook-square"></i></span>
          <span><i class="fab fa-google-plus-square"></i></span>
          <span><i class="fab fa-twitter-square"></i></span>
        </div>
      </div>
      <div class="card-body">
        <form>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control",placeholder: "Email"  %>            
          </div>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-key"></i></span>
            </div>
            <%= f.password_field :password, autocomplete: "current-password", class: "form-control",placeholder: "Password" %>
          </div>
          <div class="row align-items-center remember">
            <% if devise_mapping.rememberable? %>
              <div class="field">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end %>
          </div>
          <div class="form-group">
            <%= f.submit "Log in",class: "btn float-right login_btn" %>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <div class="d-flex justify-content-center links">
          Don't have an account?
          <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
            <%= link_to "Sign up", new_registration_path(resource_name) %><br />
          <% end %>
        </div>
        <div class="d-flex justify-content-center">
          <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
            <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
<% end %>